<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
    <li class="active">
      <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
    </li>
    <li>
      <a href="/project2"><span class="glyphicon glyphicon-user"></span> Project 2 </a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Solo Activities <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/solo01">Postal Form</a></li>
          <!-- <li class="divider"></li> -->
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Team Activities <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/team01">Math Form</a></li>
          <li><a href="/team02">Family Form</a></li>
          <li><a href="/team04">API Log In</a></li>
        </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="navbar-right">
      <%- include signin.ejs %>
      <%- include signedin.ejs %>
    </li>
  </ul>
</nav>
