<div class="signin">
	<span>Sign In: </span>
	<input id="user" type="text" name="username" placeholder="Username">
	<input id="pass" type="password" name="password" placeholder="Password">
	<button type="button" onclick="signin()" class="signin-button">Sign In</button>
</div>