<div class="signin-hidden">
	<span>Signed in as: </span><span id="username" class="space-right">fake username</span>
	<button type="button" onclick="signout()" class="signin-button">Sign Out</button>
</div>