<!DOCTYPE html>
<html>
<head>
	<%- include partials/head.ejs %>
</head>
<body>
	<%- include partials/header.ejs %>

	<div class="body-container">
		<p>This will include home page information</p>
	</div>
</body>
</html>

  <!-- + `if`+`TAB` - Inserts EJS `if` statement
  + `for`+`TAB` - Inserts EJS `for` loop -->
