<!DOCTYPE html>
<html>
<html>
<head>
	<%- include partials/head.ejs %>
</head>
<body>
	<%- include partials/header.ejs %>
<div class="body-container">
	<input type="text" id="t4username" placeholder="username"><br><br>
	<input type="password" id="t4password" placeholder="password"><br><br>
	<button onclick="login();">Log in</button>
	<button onclick="logout();">Log out</button><br>
	<br>
	<button onclick="getServerTime()">Get server time</button>
	<br>
	<br>
	<div id="t4status"></div>
</div>

	<script src="js/team04.js"></script>
</body>
</html>