body {
	background-color: blanchedalmond;
	overflow-x: hidden;
}

h1 {
	margin-bottom: 20px;
}

/* This makes the heading look like a pencil xD */
/*h2 {
    background-color: goldenrod;
    border: 1px solid black;
    border-left: 30px solid pink;
    border-right: 20px solid black;
    border-radius: 10px 50% 50% 10px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px;
    width: 50%;
}*/

h2 {
	background-color: #d7aa80;
	border: 1px solid black;
	border-radius: 10px;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: -10px;
	padding: 10px;
	width: 50%;
}

li {
	list-style-type: none;
}

select {
	width: 200px;
}

table {
	background-color: #cfcfaf;
	border-collapse: collapse;
  	width: 99%;
}

td, th {
  border: 1px solid #afafaf;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: blanchedalmond;
  color: black;
}

.body-container, h1 {
	margin-left: 10px;
}

.bold {
	font-weight: bold;
}

.button {
	font-size: 16px;
	height: 35px;
	margin-top: 8px;
	width: 150px;
}

.checklabel {
	margin-left: 10px;
}

.error {
    background-color: orange;
    border: 2px solid black;
    font-weight: bold;
    padding: 4px;
    padding-left: 6px;
    width: 600px;
}

.error-border {
	border: 2px solid red;
}

.error-hidden {
	display: none;
}

.full {
	width: 100%;
}

.p2form-container {
	background-color: #cfcfaf;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	width: 50%;
}

.p2form-container label {
	float: left;
	position: absolute;
}

.p2form-container input {
	margin-left: 120px;
	margin-top: -2px;
}

.p2form-container input[type='checkbox'] {
	margin-left: 10px;
	margin-top: -2px;
}

.p2genre-container {
	float: right;
	margin-top: -10px;
	width: 200px;
}

.p2genre-container h4 {
	margin-left: 38px;
}

.p2genre-container input {
	margin-left: 0px;
}

.p2genre-container input[type='text'] {
	margin-left: 10px;
}

.p2genre-container button {
	margin: 10px;
	margin-left: 25px;
}

.p2showoptions-container {
	background-color: #cfcfaf;
	border: 1px solid black;
	border-radius: 10px;
	float: right;
	margin-right: 10px;
	padding: 10px;
}

.p2-nav {
	float: center;
}

.page-container {

}

.page-container-hidden {
	display: none;
}

.right {
	float: right;
	margin-right: 12px;
}

.signin {
	margin-top: 12px;
	color: white;
}

.signin input {
	color: black;
}

.signin-button {
	color: black;
	margin-right: 40px;
}

.signin-hidden {
	display: none;
}

.space-right {
	margin-right: 10px;
}

.X {
	text-align: center;
}
