body {
	overflow-x: hidden;
}

h1 {
	margin-bottom: 20px;
}

li {
	list-style-type: none;
}

select {
	width: 200px;
}

table {
  border-collapse: collapse;
  width: 99%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.body-container, h1 {
	margin-left: 10px;
}

.bold {
	font-weight: bold;
}

.checklabel {
	margin-left: 10px;
}

.error {
    background-color: orange;
    border: 2px solid black;
    font-weight: bold;
    padding: 4px;
    padding-left: 6px;
    width: 600px;
}

.error-border {
	border: 2px solid red;
}

.error-hidden {
	display: none;
}

.p2-nav {
	float: center;
}

.page-container {

}

.page-container-hidden {
	display: none;
}

.signin {
	margin-top: 12px;
	color: white;
}

.signin input {
	color: black;
}

.signin-button {
	color: black;
	margin-right: 40px;
}

.signin-hidden {
	display: none;
}

.space-right {
	margin-right: 40px;
}

#showsEditContainer, #newShowContainer {
	float: right;
	margin-right: 30px;
}