<div id="popular" class="page-container">
	<button type="button" class="button right" onclick="goTo('signup')">Sign Up!</button>
	<h2>Shows People are Watching</h2>
	<div id="popular-container">
		<table class="shows-list">
			<tbody> 
				<tr> 
					<th>Show Name</th>
					<th>Episodes</th>
					<th>Length</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
