<div id="popular" class="page-container">
	<h2>Shows People are Watching</h2>
	<button type="button" onclick="goTo('signup')">Sign Up!</button>
	<br>
	<br>
	<ul id="popular-container">
		<!-- This will be populated with a list of shows from the server -->
	</ul>
</div>
