<div id="yourlist" class="page-container-hidden">
	<h2>Your List</h2>
	<button type="button" class="p2-nav" onclick="goTo('tvshow')">Add TV Series</button>
	<br>
	<br>
	<ul id="yourlist-container">
		<!-- This will be populated with a list of shows from the server -->
	</ul>
</div>
