<div id="yourlist" class="page-container-hidden">
	<button type="button" class="button right" onclick="goTo('tvshow')">Add TV Series</button>
	<h2>Your List</h2>
	<div id="yourlist-container">
		<table class="shows-list">
			<tbody> 
				<tr> 
					<th>Show Name</th>
					<th>Watched</th>
					<th>Repeats</th>
					<th>Length</th>
				</tr>
				<tr>
					<td>You've watched no shows.</td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
